@{
    Layout = null;
}

<html>
    <head>
        <title>Hello React</title>
    </head>

    <body>
        <div id="content"></div>

        <script src="@Url.Content("~/js/Libraries/react.development.js")"></script>
        <script src="@Url.Content("~/js/Libraries/react-dom.development.js")"></script>
        <script type="module" src="@Url.Content("~/js/Pages/Home.Page.jsx")"></script>
    </body>
</html>